ul li {
    list-style: none;
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}

header {
    position: relative;
    top: 0;
    text-align: right;
    margin-right: 20px;
}

img {
    height: auto;
    display: block;
    padding: 5px;
    width: 200px;
    margin: 0 auto;
}

input[type='text'] {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    width: 100%;
    margin: 10px 10px 30px 10px;
}

.flex-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.inputs {
    display: block;
    width: 45%;
    padding: 10px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.left {
    float: left;
}

.right {
    margin-right: 20px;
    text-align: right;
}

input[type='submit'] {
    padding: 10px 5px;
    margin-top: 15px;
}

.inputs ul {
    width: 495px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

.inputs ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.inputs ul li a {
    margin: 0;
    padding: 0;
    display: block;
}

.inputs ul li a img {
    margin: 0; 
    padding: 0;
    display: block;
    width: 100%;
}
